# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=1.2.0=pypi_0
aiohttp=3.8.3=pypi_0
aiosignal=1.2.0=pypi_0
anyio=3.6.1=pypi_0
asttokens=2.0.8=pypi_0
async-timeout=4.0.2=pypi_0
attrs=22.1.0=pypi_0
backcall=0.2.0=pypi_0
ca-certificates=2022.07.19=haa95532_0
cachetools=5.2.0=pypi_0
certifi=2022.9.14=py38haa95532_0
charset-normalizer=2.1.1=pypi_0
click=8.1.3=pypi_0
colorama=0.4.5=pypi_0
contourpy=1.0.5=pypi_0
cycler=0.11.0=pypi_0
decorator=5.1.1=pypi_0
executing=1.1.0=pypi_0
fastapi=0.85.0=pypi_0
flask=2.2.2=pypi_0
fonttools=4.37.4=pypi_0
frozenlist=1.3.1=pypi_0
future=0.18.2=pypi_0
google-auth=2.12.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
grpcio=1.49.1=pypi_0
h11=0.14.0=pypi_0
httptools=0.5.0=pypi_0
idna=3.4=pypi_0
importlib-metadata=5.0.0=pypi_0
ipython=8.5.0=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.18.1=pypi_0
jinja2=3.1.2=pypi_0
kiwisolver=1.4.4=pypi_0
line-bot-sdk=2.3.0=pypi_0
markdown=3.4.1=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib=3.6.0=pypi_0
matplotlib-inline=0.1.6=pypi_0
multidict=6.0.2=pypi_0
numpy=1.23.3=pypi_0
oauthlib=3.2.1=pypi_0
opencv-python=4.6.0.66=pypi_0
openssl=1.1.1q=h2bbff1b_0
packaging=21.3=pypi_0
pandas=1.5.0=pypi_0
parso=0.8.3=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.2.0=pypi_0
pip=22.2.2=py38haa95532_0
prompt-toolkit=3.0.31=pypi_0
protobuf=3.19.6=pypi_0
psutil=5.9.2=pypi_0
pure-eval=0.2.2=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pydantic=1.10.2=pypi_0
pygments=2.13.0=pypi_0
pyparsing=3.0.9=pypi_0
python=3.8.13=h6244533_0
python-dateutil=2.8.2=pypi_0
python-dotenv=0.21.0=pypi_0
python-multipart=0.0.5=pypi_0
pytz=2022.4=pypi_0
pyyaml=6.0=pypi_0
requests=2.28.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
rsa=4.9=pypi_0
seaborn=0.12.0=pypi_0
setuptools=63.4.1=py38haa95532_0
six=1.16.0=pypi_0
sniffio=1.3.0=pypi_0
sqlite=3.39.3=h2bbff1b_0
stack-data=0.5.1=pypi_0
starlette=0.20.4=pypi_0
tensorboard=2.10.1=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
thop=0.1.1-2209072238=pypi_0
threadpoolctl=3.1.0=pypi_0
torch=1.12.1=pypi_0
torchvision=0.13.1=pypi_0
tqdm=4.64.1=pypi_0
traitlets=5.4.0=pypi_0
typing-extensions=4.3.0=pypi_0
urllib3=1.26.12=pypi_0
uvicorn=0.18.3=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
watchfiles=0.17.0=pypi_0
wcwidth=0.2.5=pypi_0
websockets=10.3=pypi_0
werkzeug=2.2.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wincertstore=0.2=py38haa95532_2
yarl=1.8.1=pypi_0
zipp=3.8.1=pypi_0
